.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.ipynb_checkpoints
2023_materials/
2024_materials/
2025_materials/
data/
notes/
popgen_congen_notes/
old_materials/
assignments/*key*
**/.ipynb_checkpoints/
/.quarto/
**/*.quarto_ipynb
